body {background-color: rgb(78, 230, 241);}
h1 {color: rgb(78, 203, 241);}
h2 {color:rgb(237, 187, 220); font-family:;}
h3 {color: rgb(239, 235, 96); font-family:Courier;}
h6 {color: rgb(78, 215, 241);}
rgb(78, 230, 241)
